{% extends 'base.html' %}
{% block title %}
    Ideas For This Site - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Ideas</h1>
    <h3>(this is a work in progress!)</h3>
    <ul>
      <li>
        Search by ingredient and/or quantity (so if you need to use up 2 cups of applesauce...)
      </li>
      <li>
        Make it easier to paste in ingredients and methods and it'll automatically sort them
      </li>
      <li>
        Autocomplete instructions with common methods of cooking ("Grill" "Mix" etc)
      </li>
      <li>
        Tag by type of cuisine, type of meal ("breakfast"/"lunch"/"dinner"), speed of cooking ("fast"/"slow"), method of cooking ("bake"/"fry"/"raw"), sweet/savoury, protein/carb/fat, tools needed ("blender"/"oven")
      </li>
      <li>
        Ability to quickly halve, double or triple recipes
      </li>
      <li>
        Add time taken to recipe form
      </li>
      <li>
        Add approx. number of bowls required to recipe form
      </li>
      <li>
        Allow blanks for quantity/measure of ingredient, and add "serving" to measure type
      </li>
    </ul>
{% endblock content %}
